apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: it-tools
  namespace: default
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: it-tools
  values:
    controllers:
      it-tools:
        replicas: 3
        containers:
          app:
            image:
              repository: ghcr.io/corentinth/it-tools
              tag: 2024.10.22-7ca5933

            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                drop: ["ALL"]

            resources:
              requests:
                cpu: 100m
              limits:
                memory: 250Mi

    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000