---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  # - ./grafanadashboard.yaml ignore for now. i have to add the grafana-operator
  - ./helmrelease.yaml
  - ./ocirepository.yaml