apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app longhorn
  namespace: longhorn-system
spec:
  interval: 5m0s
  chart:
    spec:
      chart: longhorn
      version: "1.10.1"
      sourceRef:
        kind: HelmRepository
        name: longhorn-repo
        namespace: longhorn-system
      dependsOn: []
  install:
    createNamespace: false
  upgrade:
    remediation:
      retries: 3
  values:
    persistence:
      defaultClass: true
      defaultFsType: ext4

    defaultSettings:
      defaultReplicaCount: 3
      defaultDataPath: /var/lib/longhorn
      snapshotMaxCount: 250
      autoSalvage: true
      allowNodeDrainWithLastHealthyReplica: false
      disableSchedulingOnCordonedNode: true
      storageOverProvisioningPercentage: 100
      guaranteedEngineManagerCPU: 0.25
      guaranteedReplicaManagerCPU: 0.25
      replicaAutoBalance: best-effort
      nodeDownPodDeletionPolicy: delete-both-statefulset-and-deployment-pod
      backupTarget: s3://home-ops-dev-longhorn-backup@hel1/
      backupTargetCredentialSecret: longhorn-backup-s3

      recurringJobs:
        - name: daily-backup
          task: backup
          cron: "0 2 * * *"
          retain: 7
          concurrency: 2
          labels:
            recurring-job-group.longhorn.io/default: "true"