---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: longhorn
  namespace: flux-system
spec:
  interval: 1h
  retryInterval: 1m
  timeout: 10m

  path: ./kubernetes/apps/longhorn-system/longhorn/app
  prune: true
  wait: true

  decryption:
    provider: sops

  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system